$gradient-first: #f7d0ee;
$gradient-second: #cef0e5;

$container-color: rgb(252, 252, 252);
$underline-first: #67ffcf;
$underline-second: #fc63d8;

$error: #c01899;
$error-bg: rgba(252, 99, 216, 0.2);

$btn-bg: #37e7af;
$btn-color: black;

$popup-border: #18af7f;
